<header id="l-header" class="l-header">
    <div class="header-content">
    </div>
</header>
<nav id="l-nav" class="l-nav">
</nav>
<div class="l-main">
</div>
<footer class="l-footer">
</footer>

<!--SCRIPTS-->
<script data-main="js/init" src="/js/bower_components/requirejs/require.js"></script>
<!--SCRIPTS END-->